<% layout('layout') -%>
<div class="page wrapper">
    <div class="topic-categories">
        <ul class="list no-style">
            <li><a href="/">Feeds</a></li>
            <% topics.forEach(function(topic) { %>
                <li><a href="/topic/<%= topic._id %>"> <%= topic.title %> </a></li>
            <% }) %>
        </ul>
    </div>

    <div class="story-box">
        <div class="entrybox">
            <div class="current-user link">
                <a href="/userlink" target="_blank">Nick Dev</a>
            </div>        
            <div class="textbox">
                <form class="form" action="/saveStory"  method="POST">
                    <select name="topic">
                        <% topics.forEach(function(topic) { %>
                            <option value="<%= topic._id %>" > <%= topic.title %> </option>
                       <% }) %>
                    </select>
                    <textarea name="title" placeholder="What is your question ?"></textarea>
                    <button name="submit" class="success" type="submit">Add Question</button>
                </form>
            </div>
        </div>
        <div class="storylist">
            <% stories.forEach(function(story) { %>
            <div class="story">                    
                     <div class="link">
                        <a href="/storylink">
                            <span><%= story.title %></span>
                        </a>
                     </div>
                     <div class="current-user question-link">
                            <span class="pic"><img src="https://qph.fs.quoracdn.net/main-thumb-ti-481-100-acombkiunkbnmdobavqyvbndsytivmrg.jpeg" /></span>
                            <span class="name"><a href="/userlink" target="_blank">Nick Dev</a></span>
                            <span class="intro">PhD Scholar at Indian Institute of Technology</span>
                            <span class="post-time">Updated Nov 22</span>
                     </div>
                    <div class="answer">
                        <p>My answer will be in Indian contex. When our tv is filled with over drama, over acting, logicless, mythological series, there are some series and programs that are worth watching. Here are some.</p>
                    </div>
                <div class="actions">
                    <span class="answer"><i class="fa fa-lg fa-pencil-square-o">Answers</i></span>
                    <span><i class="fa fa-lg fa-wifi">Follow</i></span>
                </div>
                <div class="answer-box hide">
                    <form action="/saveAnswer" method="post">
                        <input type="hidden" name="story" value="<%= story._id %>" />
                        <textarea class="answer" name="content"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
          <% }) %>
        </div>

    </div>
</div>